@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMS</h1>
    <p class="lead">IMS is an Inventory Management System That accepts Orders for Different Goods , products and Items</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           To Get Starting With This System , Please Click on Orders Menu Above.
        </p>
    </div>
</div>